<header class="main-header">
    <a href="/" class="brand-logo flex-center">
      <img src="https://i.ibb.co/FWYHfV6/fast-food-1.png">
      <div class="brand-logo-name">namnam</div>
    </a>
    <nav class="main-nav">
      <ul class="flex-center"> 
        <li>
          <a href="/about">About Us</a>
        </li>   
          <% if (user) { %>
              <li><a href="/profile/<%= user._id %>">
                  <img class="profile-image" src="<%= user.displayPhotoUrl %>" alt="">
              </a></li>
          <% } else { %>
            <li><a href="/login">Log In</a></li>
          <% } %>
          </li>
      </ul>
    </nav>
  </header>