<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>namnam - food at your fingertips!</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/restaurant.css">
    <link rel="stylesheet" href="/css/review.css">
    

    <script type="text/javascript" defer src="/js/script.js"></script>
</head>
<body>

    <div class="container">
        <%- include('../partials/header') %>
        <main class="main">
            <%- body %>
        </main>
        <%- include('../partials/footer') %>
    </div>
</body>
</html>