.join-main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  
  .join-text {
    font-size: 3.5em;
    font-weight: bold;
    margin: 0;
  }

  .join-text-2 {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
  }
  
  .accent-text {
    color: #F1AC18;
  }
  
  .join-form {
    background-color: #c7d8ad;
    width: 50vw;
    max-width: 50%;
    padding: 2rem 4rem;
    border-radius: 20px;
  }
  
  .input-group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
  }
  
  .input-group:last-child {
    margin-bottom: 0;
  }
  
  .input-group label {
    font-weight: bold;
    margin-bottom: .5rem;
  }
  
  .input-group input {
    outline: none;
    background: white;
    border: 1px solid #2E3852;
    font-size: 1em;
    padding: .5em;
    color: inherit;
    border-radius: 5px;
  }
  
  .input-group input:focus {
    border-color: #596da0;
  }

  .join-form p {
    font-size: 1rem;
    text-align: center;
  }

  .join-form a {
    text-decoration: none;
    color: #000000;
  }

  .join-form a:hover {
    text-decoration: none;
    color: #555555;
  }

  .remember-me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; /* Optional: Adjust the spacing between checkbox and other form elements */
  }
  
  .remember-me input[type="checkbox"] {
    margin-right: 5px; /* Optional: Adjust the spacing between checkbox and label */
  }
  
  .remember-me label {
    font-size: 14px;
    color: #333;
  }
  