<section class="join-main-section">
    <h1 class="join-text">
      food at your
      <span class="accent-text">fingertips.</span>
    </h1>
    <form class="join-form" method="POST">
      <div class="input-group">
        <label>Username:</label>
        <input type="username" required name="username">
      </div>
      <div class="input-group">
        <label>Password:</label>
        <input type="password" required name="password">
      </div>
      <div class="remember-me">
        <input type="checkbox" id="remember-me" name="remember" value="remember">
        <label for="remember-me">Remember Me?</label>
      </div>
      <div class="input-group">
        <button type="submit" class="btn">Log In</button>
      </div>
      <p class="register-prompt">New here? <a href="/register">Register</a> instead!</p>
    </form>
  </section>
  // form validation
  <script>
    function validateForm() {
      const usernameInput = document.getElementById('username');
      const passwordInput = document.getElementById('password');
      
      if (!isValidUsername(usernameInput.value)) {
        alert('Please enter a valid username.');
        return false;
      }
      
      if (!isValidPassword(passwordInput.value)) {
        alert('Please enter a valid password.');
        return false;
      }
      
      return true;
    }
    
    function isValidUsername(username) {
      return username.length >= 4;
    }
    
    function isValidPassword(password) {
      return password.length >= 8;
    }
  </script>
  