<section class="join-main-section">
    <h1 class="join-text">
      food at your
      <span class="accent-text">fingertips.</span>
    </h1>
    <form class="join-form" method="POST">
      <div class="input-group">
        <label>Username:</label>
        <input type="username" required name="username">
      </div>
      <div class="input-group">
        <label>Password:</label>
        <input type="password" required name="password">
      </div>
      <div class="remember-me">
        <input type="checkbox" id="remember-me" name="remember" value="remember">
        <label for="remember-me">Remember Me?</label>
      </div>
      <div class="input-group">
        <button type="submit" class="btn">Log In</button>
      </div>
      <p class="register-prompt">New here? <a href="/register">Register</a> instead!</p>
    </form>
  </section>