<section class="join-main-section">
    <h1 class="join-text">
      register
      <span class="accent-text">now.</span>
    </h1>
    <form class="join-form" action="/register" method="POST">
      <div class="input-container">
        <div class="input-group ">
          <label>Display Name:</label>
          <input type="given" name="displayName" >
        </div>
      <div class="input-group">
        <label>Username:</label>
        <input type="username" name="username">
      </div>
      <div class="input-group">
        <label>Password:</label>
        <input type="password" name="password">
      </div>
      <div class="input-group">
        <label>About Yourself:</label>
        <input type="text" name="description">
      </div>
      <div class="input-group">
        <label>Display Photo URL:</label>
        <input type="longtext" name="displayPhotoUrl">
      </div>
      <div class="input-group">
        <button type="submit" class="btn">Register</button>
      </div>
    </form>
  </section>